fastapi[standard]==0.112.0

# auth
itsdangerous
passlib[bcrypt] 
python-jose[cryptography]

# data validation
pydantic
pydantic-settings

# database
sqlalchemy==1.4.46
psycopg2-binary

#email
fastapi-mail

# templating syntax
jinja2

#ASGI server
gunicorn

#AWS SDK for Python
boto3